*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    --var-white: #FFFFFF;
    --var-grey-200: #ECF2F8;
    --var-grey-400: #9DAEC2;
    --var-grey-500: #6E8098;
    --var-grey-900: #48556A;

    font-family: "Manrope", sans-serif;
    background-color: var(--var-grey-200);

    display: flex;
    height: 100vh;
}

.card {
    background-color: var(--var-white);
    width: 20.5em;
    height: 33.625em; 
    border-radius: 1em;  

    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 2em;
    margin: auto;
}

.card-image {
    overflow: hidden;
    border-radius: 1em 1em 0 0;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding-inline: 1.875em;
    gap: 1.5em;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.card-image {
    align-self: stretch;
}

.drawers-image {
    height: 100%;
}

img {
    width: 100%;
}

.icon-container {
    width: 2em;
    height: 2em;
    background-color: var(--var-grey-200);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon {
    width: 1em;
    color: var(--var-grey-500);
}

.footer-display {
    background-color: var(--var-white);
    display: flex;
    justify-content: space-between;
    align-content: center;

    width: 100%;
    height: 6em;
    padding-inline: 1.875em;
    border-radius: 0 0 1em 1em;

    .profile {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .share-tooltip {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .share-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.footer-display.share-open {
    background-color: var(--var-grey-900);

    .share-tooltip {
        display: flex;
    }

    .profile {
        display: none;
    }
    
    .share-icon {
        justify-content: space-between;
        width: 100%;
    }
}

.profile-avatar {
    width: 2.5em;
    border-radius: 50%;
}

.icon-container:hover,
.icon-container:focus {
    background-color: black;
    cursor: pointer;
}

.share-ribbon-text {
    width: 4em;
}

.media-icons {
    display: flex;
    flex-direction: row;
}

.dark {
    background-color: var(--var-grey-900);
}

.dark-text {
    color: var(--var-grey-400);
}

.grey-text {
    color: var(--var-grey-500);
}

.text-preset-1 {
    font-size: 1.25em;
    line-height: 1.3;
    letter-spacing: 0.25px;
}

.text-preset-2 {
    font-size: 0.8125em;
    line-height: 1.4;
    letter-spacing: 0.12%;
}

.text-preset-3 {
    font-size: 0.8125em;
    line-height: 1.4;
    letter-spacing: 25%;
    text-transform: uppercase;
}

@media screen and (min-width: 48em) {
    .card-image {
        border-radius: 1em 0 0 1em;
    }

    .footer-display {
        height: 100%;
    }

    .footer-display.share-open {
        background-color: var(--var-white);

        .share-tooltip {
            position: absolute;
            bottom: 160%;
            background-color: var(--var-grey-900);
            padding: 0.5em 3em;
            border-radius: 0.5em;
            z-index: 1;
        }

        .share-tooltip::after {
            content: "";
            position: absolute;
            top: 100%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: var(--var-grey-900) transparent transparent transparent;
        }

        .share-icon {
            position: relative;
            justify-content: center;
            width: auto;
        }

        .profile {
            display: flex;
        }
    }
}

@media screen and (min-width: 48em) and (max-width: 75em) {
    .card {
        width: 38em;
        height: 21.625em;
        gap: 0em;

        flex-direction: row;
    }
    
    .drawers-image {
        height: 100%;
        transform: scale(1.2);
    }
}

@media screen and (min-width: 75em) {
    .card {
        width: 45.625em;
        height: 17.5em;
        flex-direction: row;
    }
    
    .card-content {
        gap: 1.5em;
    }

    .footer-display {
        height: 100%;
    }
}